.book-details {
    /* max-width: 800px; */
    /* margin: auto; */
    /* text-align: center; */
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .book-cover {
    width: 100%;
    max-width: 300px;
    /* margin: auto; */
    border-radius: 8px;
    margin-right: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 20px 0;
  }
  
  h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #555;
  }
  
  p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
  }
  
  .price {
    font-size: 1.5em;
    margin: 20px 0;
    color: #28a745;
  }
  
  .btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  