<div class="login-container">
    <p-card>
      <ng-template pTemplate="header">
        <h2>Forget Password</h2>
      </ng-template>
      <p>Enter your email and we will send you instructions on how to reset your password.</p>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
          <div class="p-field">
            <label for="email">Email<span class="error">*</span></label>
            <input id="email" type="text" pInputText formControlName="email" required />
            <p *ngIf="forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched && forgetPasswordForm.get('email')?.errors?.['required']" class="error">This Field is Required</p>
            <p *ngIf="forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched && forgetPasswordForm.get('email')?.errors?.['email']" class="error">Please enter valid email address</p>
          </div>
          <div class="p-buttonset custom-buttonset">
            <button pButton type="submit" label="Submit"></button>
            <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="cancelForm()"></button>
          </div>
        </div>
      </form>
    </p-card>
</div>
  