<div class="login-container">
    <p-card>
      <ng-template pTemplate="header">
        <h2>Reset Password</h2>
      </ng-template>
      <p>Please use strong password</p>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
          <div class="p-field">
            <label for="password">Password<span class="error">*</span></label>
            <p-password [feedback]="false" [toggleMask]="true" formControlName="password"></p-password>
            <div *ngIf="resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)">
              <p *ngIf="resetPasswordForm.get('password')?.errors?.['required']" class="error">This Field is required.</p>
              <p *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']" class="error">Password must be at least 8 characters long.</p>
              <p *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']" class="error">Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.</p>
            </div>          </div>
          <div class="p-field">
            <label for="password">Confirm Password<span class="error">*</span></label>
            <p-password [feedback]="false" [toggleMask]="true" formControlName="confirmPassword"></p-password>
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)">
              <p *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']" class="error">This Field is required.</p>
              <p *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']" class="error">Password didn't matched.</p>
            </div>      
          </div>
          <div class="p-buttonset custom-buttonset">
            <button pButton type="submit" label="Submit"></button>
            <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="cancelForm()"></button>
          </div>
        </div>
      </form>
    </p-card>
</div>