.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
      
  }
  
  p-card {
    width: 30%;
    min-width: 300px;
  }
  
  h2 {
    text-align: center;
  }
  
  .p-fluid .p-field {
    margin-bottom: 1rem;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  .custom-buttonset .p-button {
    margin-right: 10px; /* Add space between buttons */
  }