/* styles.css or footer.component.css */
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    background-color: #032535;
    color: white;
  }
/*   
  .footer-content p {
    margin: 0.5rem 0;
  } */
  
  .social-icons i {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .social-icons i:hover {
    color: #007bff;
  }
  